div{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}
img{
    width: 100%;
    border: 5px solid white
}
*{
    background-color: black;
    color: white;
}
h1{
    font-family: libre baskerville, serif;
    text-transform: uppercase;
}